<header class="header header_mobile">
    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <div class="header__wrapper">
                    <div class="container__header-menu align-self-center">
                        <nav class="header-menu__wrapper">
                            <div class="menu">
                                <ul class="header__item-menu header__item-menu-left">
                                    <li class="menu-item active"><a href="#about">About</a></li>
                                    <li class="menu-item"><a href="#services">Service</a></li>
                                </ul>
                                <div class="header__logo-wrapper header__item-menu-right">  
                                    <div class="header__logo align-self-center">
                                        <a href="index.html"><img src="img/logo.jpg" alt="logo"></a>
                                    </div>
                                </div> 
                                <ul class="header__item-menu">
                                  <li class="menu-item"><a href="#portfolio">Projects</a></li>
                                  <li class="menu-item"><a href="#contacts">Contacts</a>
                                </ul>
                            </div> 
                        </nav>
                        
                        <div class="header__burger align-self-center">
                          <span></span>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</header>
    

